*.db
*.sqlite
__pycache__/
analysis/volume_book_info.csv
create_scriptures_db.sql
linux_scriptures_venv/
linux_venv_new/
myapp.log
no?commit*
notes/LDSNotesDownload.csv
pattern-search-results.csv
resources/annotations/scripture-app.zip
resources/annotations/scripture-app.zip:Zone.Identifier
resources/annotations/scripture_annotations_20260802.sqlite-shm
resources/annotations/scripture_annotations_20260802.sqlite-wal
resources/annotations/scripture_annotations_20260802.sqlite:Zone.Identifier
resources/annotations/start_note_search_app.sh
results-All-Scriptures.csv
results-Book-of-Mormon.csv
results-Doctrine-and-Covenants.csv
results-New-Testament.csv
results-Old-Testament.csv
results-Pearl-of-Great-Price.csv
sandbox.py
scripture_text.csv
scripture_venv/
temp.csv
test_dir/use_scriptures.py
