linux_scriptures_venv/
scripture_venv/
__pycache__/
*.db
myapp.log
results-All-Scriptures.csv
results-Book-of-Mormon.csv
results-Doctrine-and-Covenants.csv
results-New-Testament.csv
results-Old-Testament.csv
results-Pearl-of-Great-Price.csv
pattern-search-results.csv
temp.csv
